* {
    padding: 0;
    margin: 0;
}

.bodyy {
    background-image: linear-gradient(black, rgb(60, 60, 60));
    @media (max-width:500px) {

        color: aliceblue;
     
    }

}

.logo1 {
    display: inline;
    height: 100vh;
}

.logo {
    display: flex;
    position: relative;
    height: 300px;
    margin-left: 40%;
    margin-top: -15px;

    @media (max-width:1000px) {
        transition: 1s;
        height: 250px;
        margin-left: 40%;
        margin-top: -30px;
    }

    @media (max-width:500px) {
        transition: 1s;
        height: 200px;
        margin-left: 30%;
        margin-top: 1px;
        top: 20px;

    }
}




.Articulos .redes {
    display: flex;
    flex-direction: column;

}

.iph1 {

    height: 290px;
    margin-left: 43%;
    margin-top: 2%;
  

    @media (max-width:800px) {
        transition: 1s;
       
        margin-left: 42%;
        margin-top: 19px;
    }


    @media (max-width:500px) {
        transition: 1s;
        height: 220px;
        width: 180px;
        margin-left: 32%;
        top: 20px;
    }
        
    

    
}

.sam {

    height: 330px;
    margin-left: 7%;
    margin-top: -730px;

    @media (max-width:800px) {
        transition: 1s;
        margin-left: 2%;
        
    }

    @media (max-width:500px) {
        transition: 1s;
        height: 220px;
        margin-left: 31%;
        margin-top: 20px;
        margin-bottom: 0px;;
    }
    

}

.hua {

    height: 270px;
    margin-left: 77%;
    margin-top: -300px;
    position: absolute;


    @media (max-width:800px) {
        transition: 1s;
        margin-left: 73%;
        height: 270px;
        
    }


    @media (max-width:500px) {
        transition: 1s;
        height: 190px;
        margin-left: 35%;
        margin-top: 20px;
        margin-bottom: 0px;;
    }

    
}

.iph1:hover {
    transition: 1s;
    transform: scale(1.08);
    font-weight: 2px;
}

.sam:hover {
    transform: scale(1.08);
    transition: 1s;
}

.hua:hover {
    transform: scale(1.03);
    transition: 1s;
}

.politica {
    display: flex;
    padding-top: 0;
    /* Eliminar padding superior */
    flex-direction: column;
}

.pie {
    display: flex;
    font-size: 10px;
    margin-bottom: 0;
    bottom: 50%;

    @media (max-width:800px) {
        transition: 1s;
        font-size: 20px;
        margin-left: 3%;
        margin-top: 450px;
    }
   

    @media (max-width:500px) {
        transition: 1s;
        font-size: 5px;
        margin-left: 33%;
        margin-top: 300px;
    }
      

    

}

#pte{
    color: rgba(153, 153, 153, 0.327);
    opacity: 70%;
   
    @media (max-width :500px) {

        color: black;

        
    }
}

.box {
    position: relative;
    /* Para posicionar el texto absolutamente */

}

.articulo:hover .iph1 {
    opacity: 0.7;
    /* Hace que la imagen se oscurezca */
    transform: scale(1.05);
    /* Ligeramente aumenta el tamaño */
}

/*comienza iphone*/
.texto {
    position: absolute;
    top: 50%;
    /* Centra verticalmente */
    left: 51%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Alinea el texto al centro */
    color: white;
    /* Color del texto */
    font-size: 35px;
    /* Ajusta el tamaño del texto */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease;
    /* Suaviza la transición */

    font-variant-caps: small-caps;

    @media (max-width:800px) {
        transition: 1s;
        font-size: 25px;
        top: 54%;
        left: 57%;
        
    }

    @media (max-width:500px) {
        transition: 1s;
        font-size: 20px;
        top: 54%;
        left: 50%;
        
    }
}

.articulo:hover .texto {
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
}

.articulo:hover .iph1 {
    opacity: 0.7;
    /* Hace que la imagen se oscurezca */
    transform: scale(1.05);
    /* Ligeramente aumenta el tamaño */
}

/*Comienza samsung*/

.texto2 {
    position: absolute;
    top: -160px;
    /* Centra verticalmente */
    left: 17%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Alinea el texto al centro */
    color: white;
    /* Color del texto */
    font-size: 35px;
    /* Ajusta el tamaño del texto */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease;
    /* Suaviza la transición */
    font-family: all-small-caps;

    @media (max-width:800px) {
        transition: 1s;
        font-size: 25px;
        margin-top: 1%;
        left: 20%;
        
    }

    @media (max-width:500px) {
        transition: 1s;
        font-size: 20px;
        top: 52%;
        left: 52%;
        
    }

}

.articulo2:hover .texto2 {
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
}

.articulo2:hover .sam {
    opacity: 0.7;
    /* Hace que la imagen se oscurezca */
    transform: scale(1.05);
    /* Ligeramente aumenta el tamaño */
}

/*Comienza huawei*/

.texto3 {
    position: absolute;
    top: -170px;
    /* Centra verticalmente */
    left: 86%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Alinea el texto al centro */
    color: white;
    /* Color del texto */
    font-size: 35px;
    /* Ajusta el tamaño del texto */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease;
    /* Suaviza la transición */
    font-variant-caps: small-caps;

    @media (max-width:800px) {
        transition: 1s;
        font-size: 25px;
        margin-top: 1%;
        left: 90%;
        
    }

    @media (max-width:500px) {
        position: absolute;
        transition: 1s;
        font-size: 20px;
         margin-top:57%;
        left: 52%;
        
    }
}

.articulo3:hover .texto3 {
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
}

.articulo3:hover .hua {
    opacity: 0.7;
    /* Hace que la imagen se oscurezca */
    transform: scale(1.05);
    /* Ligeramente aumenta el tamaño */
}


/*Instagram */
.Instagram {
    display: flex;
    position: absolute;
    margin-left: 85%;
    top:1px;

    @media (max-width :500px) {

        margin-left: 68%;
        top: 2px;

        
    }
}

.redei:hover {
    transform: scale(1.19);
    transition: 0.8s;
}

.insta {
    display: flex;
    /* Asegura que no haya espacio adicional */
    width: 25px;
    /* Ajusta según tus necesidades */
}

.txt4{
    display: flex;
     right: 0;
}

.txt4 {
    position: absolute;
    /* Posiciona el texto de manera absoluta */
    top: 30px;
    /* Centra verticalmente en el contenedor */
    /* Coloca el texto a la derecha de la imagen */
    transform: translateY(-50%);
    /* Ajusta para centrar el texto verticalmente */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.4s ease;
    /* Suaviza la transición */
    color: rgb(0, 0, 0);
    /* Cambia el color según tu diseño */
    padding: 10px;
    /* Espacio alrededor del texto */
    font-size: 15px;
    font-family: small-caps;
}

.redei:hover .txt4 {
    right: -30px;
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
    color: white;

}

/*Whatsapp*/

.Whatsapp {
    display: flex;
    position: absolute;
    margin-left: 90%;
    top: -1px;

    @media (max-width :500px) {

        margin-left: 78%;
        top: -1px;

        
    }
}

.redew:hover {
    transform: scale(1.19);
    transition: 0.8s;
}

.wsp {
    display: flex;
    /* Asegura que no haya espacio adicional */
    width: 30px;
    /* Ajusta según tus necesidades */
}

.txt5 {
    position: absolute;
    /* Posiciona el texto de manera absoluta */
    top: 32px;
    /* Centra verticalmente en el contenedor */
    left: -30px;
    /* Coloca el texto a la derecha de la imagen */
    transform: translateY(-50%);
    /* Ajusta para centrar el texto verticalmente */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.4s ease;
    /* Suaviza la transición */
    color: rgb(248, 248, 248);
    /* Cambia el color según tu diseño */
    padding: 10px;
    /* Espacio alrededor del texto */
    font-size: 14px;
    font-family: small-caps;
}

.redew:hover .txt5 {
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
    color: white;

}

/*Facebook*/

.Facebook {
    display: flex;
    position: absolute;
    margin-left: 95%;
    top: -3px;

    @media (max-width :500px) {

        margin-left: 88%;
        top: -1,5px;

        
    }
}

.redef:hover {
    transform: scale(1.19);
    transition: 0.8s;
}

.face {
    display: flex;
    /* Asegura que no haya espacio adicional */
    width: 30px;
    /* Ajusta según tus necesidades */
}

.txt6 {
    position: absolute;
    /* Posiciona el texto de manera absoluta */
    top: 37px;
    /* Centra verticalmente en el contenedor */
    left: -27px;
    /* Coloca el texto a la derecha de la imagen */
    transform: translateY(-50%);
    /* Ajusta para centrar el texto verticalmente */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.4s ease;
    /* Suaviza la transición */
    color: rgb(0, 0, 0);
    /* Cambia el color según tu diseño */
    padding: 10px;
    /* Espacio alrededor del texto */
    font-size: 14px;
    font-family: small-caps;
}

.redef:hover .txt6 {
    opacity: 1;
    /* Muestra el texto al pasar el mouse */
    color: white;

}

.h11{
    position: absolute;
    color: white;
    width: 3px;
    font-family: small-caps;
    font-style: italic;
    top: 3px;
}

.logoP {
    display: flex;
}

.h12{
    display: flex;
    position: absolute;
    color: white;
    width: 3px;
    left: 87px;
    top: 3px;
    font-family: small-caps;
    font-style: italic;
}

.nst{
    position: absolute;
    display: flex;
}

.imgt:hover {
    transform: scale(1.19);
    transition: 0.8s;
}

.minl {
        position: absolute;
        width: 50px;
        padding-top: -50px;
        left: 48px;
        top: 3px;
    
}

.nst {
    position: absolute;
    /* Posiciona el texto de manera absoluta */
    top: 37px;
    /* Centra verticalmente en el contenedor */
    left: -27px;
    /* Coloca el texto a la derecha de la imagen */
    transform: translateY(-50%);
    /* Ajusta para centrar el texto verticalmente */
    opacity: 0;
    /* Oculta el texto inicialmente */
    transition: opacity 0.4s ease;
    /* Suaviza la transición */
    color: rgb(0, 0, 0);
    /* Cambia el color según tu diseño */
    padding: 10px;
    /* Espacio alrededor del texto */
    font-size: 14px;
    font-family: small-caps;
    font-size: 1px;
}

.imgt:hover .nst {
    opacity: 1;
    transition: 0.3s;
    color: white;
    font-size: 20px;
    top: 20%;
    left: 0.2%;
    flex-direction:column;

}
